.number-one{
    width: 100%;
    height: 70%;
}
.img{
    height: 100%;
    width: 100%;

}
.scroll{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.genries{
    margin-top: 30px;
}